@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,600);


.title-slide h1 {
  color: black;
  font-family: 'Raleway';
  position: absolute;
  bottom: 30%;
  left: 50;
}

.title-slide h3 {
  color: black;
  font-family: 'Raleway';
  position: absolute;
  bottom: 10%;
  left: 50;
}

body {
  font-family: 'Raleway';
}

.remark-slide-content {
  font-size: 30px;
}

.bigger {
   font-size: 35px;
}


.left-column {
  width: 45%;
  height: 92%;
  float: left;
}
.right-column {
  width: 50%;
  float: right;
  padding-top: 1em;
}
